.cardTemplate {
    width: 100%;
    height: 240px;
    margin-bottom: 120px;
    background-image: url("/images/bg-main-mobile.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cardTemplate__container {
    max-width: 420px;
    margin-inline: auto;
    height: 100%;
    position: relative;
}

@media screen and (min-width: 768px) {
    .cardTemplate {
        height: 280px;
    }
}

@media screen and (min-width: 1200px) {
    .cardTemplate {
        flex-basis: 32%;
        height: 100vh;
        margin: 0;
        background-image: url("/images/bg-main-desktop.png");
    }
}