.app {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.header h1 {
  display: none;
}

main {
  flex-grow: 1;
}

@media screen and (min-width: 1200px) {
  .app {
    flex-direction: row;
  }
}