.app {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.header h1 {
  display: none;
}

main {
  flex-grow: 1;
}

.register {
  max-width: 480px;
  margin-inline: auto;
  margin-bottom: 80px;
  padding-inline: 20px;
}

@media screen and (min-width: 1024px) {
  .register {
      max-width: 600px;
  }
}

@media screen and (min-width: 1200px) {
  .app {
    flex-direction: row;
  }

  .register {
    margin-bottom: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 120px;
}
}